<section>
    <h2>Linking containers</h2>
    <p>
        <a style="font-size: 0.5em"
           href="https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/" target="_blank">reference</a>
    </p>

    <div style="text-align: left">
        <ul>
            <li>Only for containers on same Docker host</li>
            <li>Considered legacy as of Docker 1.10</li>
            <li>Linked container has to be started first</li>
            <li>Docker adds the linked container IP in /etc/hosts</li>
            <li>Direct network connection
                <ul>
                    <li>No port mappings required</li>
                </ul>
            </li>
        </ul>

    <pre><p class="command">
    $ docker run ... --link &lt;name or id&gt;:alias ...
    </p></pre>

    </div>
</section>