<section>
    <h2>Lab Infra</h2>

    <div style="text-align: left">
        <ul>
            <li>Docker binaries</li>
            <li>Ansible provisioning scripts available in docker-academy repo</li>
            <li>Docker image tags/versions</li>
            <li>SELinux</li>
        </ul>
    </div>

</section>