<section>

    <h2>what are data volumes</h2>

    <div style="height: 100%; display: block">

        <blockquote class="fragment" data-fragment-index="1">
            <p>Data volumes are designed to persist data, independent of the container’s life cycle. Docker therefore never automatically deletes volumes when you remove a container,
                nor will it “garbage collect” volumes that are no longer referenced by a container.</p>
        </blockquote>


    </div>

</section>