<section>
    <h2>data volume created by docker</h2>

    <div style="text-align: left">
        <ul>
            <li>docker run -v &lt;containter-path&gt;</li>
        </ul>
    <pre><p class="command">
     $ docker run -v /var/lib/postgresql/data -d --name pgdb postgres
     $ docker inspect  -f "&#123;&#123;json .Mounts&#125;&#125;" pgdb | python -mjson.tool

     "Destination": "/var/lib/postgresql/data",
     "Driver": "local",
     "Mode": "",
     "Name": "5c2eebce6c0a4f087537c6feda0b1d0e15a9c0e5bd779f66896ea250fcee1232",
     "Propagation": "",
     "RW": true,
     "Source": "/var/lib/docker/volumes/5c2eebce6c0a4f087537c6feda0b1d0e15a9c0e5bd779f66896ea250fcee1232/_data"

    </p></pre>
        </div>
    <p class="hint">
        <span>The -v options is corresponding to the VOLUME [/var/lib/postgresql/data] command in a Dockerfile</span> </p>

</section>