<section>
    <h2>Image vs Container</h2>
    <p class="normal">
        An instance of an image is called container.
        An image is an inert and immutable file.
        Because they can become quite large, images are designed to be composed of layers of other images.
    </p>
    <p>
        <img src="/images/image-vs-containter.jpg" class="title-image">
    </p>

</section>