<section>
    <h2>Registry Commands</h2>

    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/commandline/#hub-and-registry-commands" target="_blank">reference</a>
    </p>


    <div style="text-align: left">
        <ul>
            <li>search the registry for an image / tag</li>
        </ul>
        <pre><p class="command">
        docker search busybox
        </p>
        </pre>
    </div>

    <div style="text-align: left">
        <ul>
            <li>pull an image from remote</li>
        </ul>
        <pre><p class="command">
        docker pull busybox:1.24
        </p>
        </pre>
    </div>

</section>