<section>
    <h2>Container Commands</h2>

    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/commandline/#container-commands" target="_blank">reference</a>
    </p>


    <div style="text-align: left">
        <ul>
            <li>list running / existing containers</li>
        </ul>
        <pre><p class="command">
        docker ps
        docker ps -a
        </p>
        </pre>
    </div>


    <div style="text-align: left">
        <ul>
            <li>start and stop a container from an image</li>
        </ul>
        <pre><p class="command">
        docker run
        docker run -it --rm
        docker run -d --name
        docker stop
        docker rm
        </p>
        </pre>
    </div>

</section>
