<section>
    <h2>Analyse Network Traffic</h2>
    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/wireshark"
           target="_blank">lab</a>
    </p>
    <p>
        <img src="/images/wireshark-lab-overview.png" class="title-image">
    </p>
</section>