<section>
    <h2>Image Inheritance</h2>
    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/dockerfiles/springboot-base-image"
           target="_blank">springboot-base-image</a>
    </p>

    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy-app/raw/master/springboot-welcome-svc/"
           target="_blank">Application Image</a>
    </p>


</section>