<section>

    <h2>Ways to create an image</h2>

    <div class="fragment" data-fragment-index="1" style="text-align: left">
        <h4>from Dockerfile</h4>
        <div style="text-align:left">
            <ul>
                <li>Recommended way of creating docker images</li>
            </ul>
            <p class="command">docker build</p>
        </div>
    </div>

    <div class="fragment" data-fragment-index="2" style="text-align: left">
        <h4>from existing container</h4>
        <div style="text-align: left">
            <ul>
                <li>Manually prepare a container and commit the changes to create a new image</li>
            </ul>
            <p class="command">docker commit</p>
        </div>
    </div>

</section>
