<section>

    <h2>Dockerfile</h2>

    <div style="text-align: left">
    <ul>
        <li>A set of instructions for (re-)creating an image</li>
        <li>Simple syntax</li>
        <li>Always based on a parent image</li>
        <li style="color: red">Each instruction creates a new layer</li>
    </ul>

    <pre><p class="command">
    docker build -t &lt;tag&gt; &lt;/folder/containing/dockerfile/&gt;
    </p></pre>

    <ul>
        <li>Important flags</li>
    </ul>

    <pre><p class="command">
    --no-cache # Do not use cache when building the image
    --pull # Always attempt to pull a newer version of the image
    </p></pre>

    </div>

</section>
