<section>
    <h2>Instructions - modify data</h2>

    <div style="text-align: left">
        <ul>
            <li>RUN</li>
        </ul>
        <pre><p class="command">
    RUN &lt;shell command&gt;
    RUN yum -y --setopt=tsflags=nodocs install \
            java-1.8.0-openjdk-headless \
            ca-certificates \
        && yum clean all
        </p></pre>

        <p class="hint"><span>
            Cleanup at the end of the RUN command!
        </span></p>

        <ul>
            <li>COPY/ADD</li>
        </ul>
    <pre><p class="command">
    COPY/ADD &lt;src&gt; &lt;dest&gt;
    COPY package.json /app/package.json
    ADD http://www.ti8m.ch/myFile.tar.gz /app
    </p></pre>
    <p class="hint"><span>
        Only files within the dockerfile directory can be addressed
    </span></p>

    </div>

</section>
