<section>
    <h2>Instructions - meta data</h2>

    <div style="text-align: left">
    <ul>
        <li>ENV</li>
    </ul>
    <pre><p class="command">
    ENV &lt;envVar&gt; &lt;value&gt;
    </p></pre>

    <ul>
        <li>USER</li>
    </ul>
    <pre><p class="command">
    USER &lt;user&gt;
    </p></pre>
    <p class="hint"><span>
        Switch to other user (su - &lt;user&gt;). This is an important security measure.
    </span></p>
    <ul>
        <li>EXPOSE</li>
    </ul>
    <pre><p class="command">
    EXPOSE &lt;port&gt;
    </p></pre>

    </div>
</section>
