<section>
    <h2>.dockerignore</h2>
    <p>
        <a style="font-size: 0.5em" href="https://docs.docker.com/engine/reference/builder/#dockerignore-file" target="_blank">reference</a>
    </p>

    <div style="text-align: left">
        <ul>
            <li>All files in the Dockerfile directory are sent to the Docker daemon</li>
            <li>Optimise build time with .dockerignore file</li>
        </ul>
    </div>

</section>
