<section>
    <h2>Tag and Push</h2>

    <div style="text-align: left">
    <ul>
        <li>Image coordinates</li>
    </ul>
    <pre><p class="command">
    [REGISTRY/][USER/]NAME[:TAG]
    </p></pre>

    <pre><p class="command">
    registry.ti8.ch/trt/java-base-image:1.0 # using custom registry
    trt/java-base-image:1.0  # using default registry
    </p></pre>

    <ul>
        <li>An image can have multiple tags</li>
    </ul>
    <pre><p class="command">
    docker tag IMAGE[:TAG] [REGISTRY/][USER/]NAME[:TAG]
    </p></pre>

    <ul>
        <li>Pushing</li>
    </ul>
    <pre><p class="command">
    docker login -u &lt;user&gt; -e &lt;email&gt;
    docker push [REGISTRY/][USER/]NAME[:TAG]
    </p></pre>
    </div>

</section>
