@import "revealjs-theme";
@import 'prism-theme';

$color-mint: rgb(20,173, 170);

html.hands-on body {
  background-color: $color-mint;
  color: white;

  .reveal {
    color: white;

    h1,
    h2,
    h3,
    p {
      color: white;
    }

    h4 {
      text-align: left;
    }

    a {
      color: #025;
    }
  }

  code {
    background: darken($color-mint, 10%);
  }

  .backgrounds {
    @media screen and (min-height: 513px) {
      background-image: url("/images/logo_white.png");
    }
  }
}

button {
  background: #004d9f;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 300;
  padding: 10px 1ch;
}

.reveal {
  section {
    img {
      background: none;
      border: 0;
      box-shadow: none;
    }
  }

  pre {
    margin: 0;
    width: auto;
  }

  code {
    background: #f5f2f0;
    display: inline-block;
    font-family: Monaco, Consolas, 'Andale Mono', monospace;
    font-size: 85%;
    padding: 0.2em 0;

    &:before,
    &:after {
      content: "\00a0";
      letter-spacing: -0.2em;
      margin: 0;
    }
  }

  a {
    color: #004d9f;
  }

  .backgrounds {
    @media screen and (min-height: 513px) {
      background: url("/images/logo.png") bottom 24px left 24px no-repeat;
      background-size: 120px auto;
    }
  }

  .backgrounds .slide-background {
    height: 100vh;
    transition: none;
    width: 100vw;
  }

  .title-slide {
    height: 680px;

    h1,
    h2,
    h3,
    p,
    a {
      color: white;
      text-align: left;
    }

    h1 {
      padding-top: 1em;
      font-size: 2em;
    }

    h2 {
      font-weight: 100 !important;
      font-size: 2em;
    }
  }

  .slide-background.title-slide {
    background: url("/images/bg3.jpg") center no-repeat;
    background-size: cover;
  }

  .title-slide-footer {
    color: white;
    position: absolute;
    left: 0;
    bottom: 1em;
    text-align: left;
    font-size: .6em;
    width: 100%;

    background: url("/images/logo_white.png") right 1.2em no-repeat;
    background-size: auto 60%;

    p {
      margin-bottom: .3em;
    }

    ul {
      opacity: .5;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      margin: 0;
      margin-right: 1em;
      padding: 0;
      float: left;
    }

    @media print {
      background: url("/images/logo.png") right bottom no-repeat;
      background-size: auto 60%;
      bottom: 0;
      color: black;
      font-size: .6em !important;
    }
  }
}

.codeblock {
  position: relative;

  button[data-run] {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.title-image {
  height: 300px;
}

.right{
  display: inline-block;
}

.left{
  display: inline-block;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.normal {
  text-align: left;
}

.reveal{

  .command-list {

    text-align: left;

    ul {
      width: 100%;
    }
    li {
      //@extend code;
      //display: list-item;
      width: 100%;
      background-color: #f5f2f0;
      font-family: Monaco, Consolas, 'Andale Mono', monospace ;
      font-size: 0.7em;
      list-style-position:inside;
      border: 1px solid black;
      border-radius: 5px;
      padding-left: 15px;
      margin-top: 10px;
    }
  }

  .command-link {
    font-size: 0.5em;
  }

  .command {
    text-align: left;
    width: 100%;
    background-color: #f5f2f0;
    font-family: Monaco, Consolas, 'Andale Mono', monospace ;
    font-size: 0.7em;
    list-style-position:inside;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 10px;
  }

  .single-fragment-only .fragment:not(.current-fragment) {
    @media screen {
      display: none;
    }
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    width: 100%;
  }

  blockquote p {
    display: inline;
    font-size: 0.6em;
  }

  .hint {
    text-align: left;
    font-size: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;

    width: 101.5%;
    color: #00529B;

    border: 1px solid black;
    border-radius: 5px;

    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #BDE5F8;
    background-image: url('/images/info-icon_40x40.png');

    span {
      padding-left: 60px;
      padding-right: 5px;
      display: block;
      a {
        text-decoration: underline;
      }
    }
  }
}

@import "print";
