<section>
    <h2>Kernel Features</h2>
    <p class="normal">
        Docker combines several kernel features to isolate the containers and restrict the resources.
    </p>
    <p>
        <img src="/images/basics-kernel-features.png">
    </p>
</section>