<section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>

    <p>
        <a style="font-size: 0.5em" href="https://bitbucket.org/ti8m/docker-academy/raw/master/labs/lab-intro/"
           target="_blank">lab</a>
    </p>

    <div style="text-align: left">
        <ul>
            <li>Clone all required git repositories</li>
            <li>Add the lab registry and lab mirror as insecure registries</li>
            <li>Add the lab registry mirror</li>
        </ul>
    </div>
</section>